<div class="flex flex-col place-content-around h-60 p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a class="self-center h-2/6" href="{{ recipe_link}}">
        <h5 class="text-center mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ recipe_name }}</h5>
    </a>
    <ul class="flex flex-wrap justify-center content-between h-1/4">
        {% for category in recipe.categories.all %}
            {% component "badge" text=category %}
        {% endfor %}
    </ul>
    <a href="{{ recipe_button }}" class="inline-flex items-center w-40 ml-auto px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Go te recipe
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>