<!-- templates/base.html -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Mealplanner App</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		{% component_css_dependencies %}
	</head>

	<body class="bg-neutral-900 text-white">
		<div>
			<header>
				<nav class="fixed w-full z-50 top-0 start-0 bg-gray-900 border-b border-gray-500">
					<div class="flex justify-between justify-end">
						<!--Sidebar button-->
						<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 :text-gray-400 hover:bg-gray-700 focus:ring-gray-600">
							<span class="sr-only">Open sidebar</span>
							<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
							</svg>
						</button>

						<!--Navigation links-->
						<ul class="flex items-center p-3 gap-x-3 md:p-5 md:gap-x-5">
							<li>
								<a href="{% url 'recipe:home' %}" class="block py-2 px-3 rounded bg-transparent text-lime-400 p-0" aria-current="page">Meal Plan</a>
							</li>
							<li>
								<button type="button" class="text-white bg-lime-600 hover:bg-lime-700 focus:ring-4 focus:outline-none focus:ring-lime-800 font-medium rounded-lg text-sm px-4 py-2 text-center">
									<a href="{% url 'recipe:recipe-list' %}">Recipes</a>
								</button>
							</li>
						</ul>
					</div>
				</nav>
			</header>

			<!-- Sidebar -->
			<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full" aria-label="Sidebar">
			   <div class="h-full px-3 pt-24 overflow-y-auto text-gray-400 bg-gray-900">
				  <span class="self-center text-white text-xl font-semibold">Grocery List</span>
				  <button type="button" id="clear-grocery-list-button" class="text-sm text-white text-center px-4 py-2 ml-12 bg-lime-600 hover:bg-lime-700 focus:ring-lime-800 focus:ring-4 focus:outline-none font-medium rounded-lg">
					Clear
				</button>
				<!-- Grocery list goes here -->
				<ul id="grocery-list" class="space-y-2 font-medium">

				</ul>
			   </div>
			</aside>
		</div>

		<!-- Page content -->
		<div class="container mx-auto mt-28 mb-16">
			{% block content %}
			{% endblock %}
    	</div>

	<!-- Global scripts -->
	<script src="{% static 'recipe/js/common.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
	{% component_js_dependencies %}

	<!-- Pages related scripts -->
	<script src="{% static 'recipe/js/modal.js' %}"></script>
	<script src="{% static 'recipe/js/recipe.js' %}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const recipeFilter = new RecipeFilter('/api/recipes/');
		});
	</script>
	</body>
</html>
