<!-- templates/recipe_list.html -->
{% extends "base.html" %}

{% block content %}
<div class="flex justify-between items-center mb-14 sm:mt-28">
    <h1 class="text-2xl sm:text-4xl font-bold text-center pl-4 sm:pl-0">Recipes</h1>

    <form>
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
            <div class="absolute top-3.5 inset-y-0 start-0 ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <div class="flex mr-2 sm:mr-0">
                <input type="search" id="search-dropdown" class="block p-2.5 pl-9 w-full text-sm text-gray-900 bg-gray-50 rounded-s-gray-100 rounded-s-2 rounded-s-lg border border-gray-300 focus:ring-lime-800 focus:border-lime-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-lime-500" placeholder="Search" required>
                <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 rounded-e-lg border border-s-0 border-gray-300 dark:border-gray-700 dark:text-white hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800" type="button">
                    <span class="hidden sm:block">Categories</span>
                    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
            </div>
        </div>

        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul id="recipe-categories" class="space-y-2 p-4 text-sm" aria-labelledby="dropdown-button">
                {% for category in categories %}
                <li class="flex items-center">
                    <input id="{{ category.id }}" type="checkbox" name="categories" value="{{ category.name }}"
                        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
            
                    <label for="{{ category }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                        {{ category }}
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </form>
</div>

<ul id="recipe-list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">
    {% for recipe in recipes %}
        <li class="recipe-item">
            <div class="flex flex-col place-content-around h-60 p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a class="self-center h-2/6" href="{{ recipe.slug }}">
                    <h5 class="recipe-name text-center mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ recipe.name }}</h5>
                </a>
                <ul class="flex flex-wrap justify-center content-between h-1/4">
                    {% for category in recipe.categories.all %}
                        {% component "badge" text=category %}
                    {% endfor %}
                </ul>
                <a href="{{ recipe.slug }}" class="inline-flex items-center w-40 ml-auto px-3 py-2 text-sm font-medium text-center text-white bg-lime-600 rounded-lg hover:bg-lime-700 focus:ring-4 focus:outline-none focus:ring-lime-800 dark:bg-lime-600 dark:hover:bg-lime-700 dark:focus:ring-lime-800">
                    Full recipe
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}